@{
    ViewData["Title"] = "Home Page";
}
<link href="~/css/index.css" rel="stylesheet" />
<div id="nav-button">
    @if (ViewData["UserName"].ToString() == "root@root.com")
    {
        <a asp-action="HumanResourceManage">Manage Human Resource</a>
    }

    <br />

    <a asp-action="Message">Message</a>
</div>